/Frontend-Triatlon/nbproject/private/
# ==================================================
# JAVA
# ==================================================
*.class
*.jar
*.war
*.ear

# Compilación
target/
build/
out/
dist/

# Logs
*.log

# ==================================================
# MAVEN
# ==================================================
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# ==================================================
# INTELLIJ IDEA
# ==================================================
.idea/
*.iml

# ==================================================
# NETBEANS
# ==================================================
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

# ==================================================
# VISUAL STUDIO CODE
# ==================================================
.vscode/

# ==================================================
# SISTEMA OPERATIVO
# ==================================================
.DS_Store
Thumbs.db

# ==================================================
# VARIABLES DE ENTORNO
# ==================================================
.env

# ==================================================
# SPRING BOOT
# ==================================================
application-local.properties
application-local.yml

# ==================================================
# ARCHIVOS TEMPORALES
# ==================================================
*.tmp
*.temp
*.swp